<footer class="footer footer-default">
    <div class="container">
        <!--<nav>
             <ul>
                <li>
                    <a href="https://www.somelink.com">
                        Link
                    </a>
                </li>
            </ul>
        </nav> -->
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, 
            Created by
            <a href="https://github.com/manu-bulboaca" target="_blank">Emanuel Bulboaca</a>.
            Based on design offered by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>