<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/jpg/neonbrand.jpg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/jpg/manu.jpg" alt="" />
        </div>
        <h3 class="title">Emanuel Bulboaca</h3>
        <p class="category">Angular Expert</p>
        <div class="content">
          <div class="social-description social-description-container">
            <h3>Software Developer</h3>
            <p>Focused on <br />Web Applications</p>
          </div>
          <div class="social-description social-description-container">
            <h3>Lead Technical Consultant</h3>
            <p>Current Position at <br />NTT Data DACH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <!-- Comming Soon --> 
        <!-- <a href="#button" class="btn btn-primary btn-round btn-lg"
          >Contact Me</a
        > -->
        <a
          href="https://github.com/manu-bulboaca"
          target="_blank"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Follow me on Git Hub"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://twitter.com/manu_bulboaca"
          target="_blank"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Follow me on Twitter"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/emanuel-bulboaca"
          target="_blank"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Follow me on LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <h3 class="title">About me</h3>
      <h5 class="description">
        Hello! First of all, welcome! My name is Emanuel and I work as a Lead
        Technical Consultant for NTT Data DACH. My Career focus is Frontend
        Development, UI/UX, Javascript Technologies and a lot of Angular.
      </h5>
      <h5 class="description">
        I am always ready to help and I will always keep my positive attitude. I
        am ready to improve myself and to discover new things in the wonderful
        world of Software.
      </h5>
      <blockquote class="quote">
        <p class="blockquote blockquote-primary">
          "I have not failed. I’ve just found 10,000 ways that won’t work."
          <br />
          <br />
          <small> - Thomas Edison </small>
        </p>
      </blockquote>
      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Background</h4>
        </div>
      </div>
      <h5 class="description">
        I started my journey in the Software Development area in 2013 and the
        journey in the world of Web Development in 2014 when I found for the
        first time AngularJS. It was the version no. 1 and soon it became 2 and
        so on til 13. I feel that something inside me stil misses the old v1.
      </h5>
      <h5 class="description">
        I started developing Enterprise Application for Automotive Clients in
        2015 and I continued doing it until now.
      </h5>

      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">Focus</h4>
        </div>
      </div>
      <h5 class="description">
        I am dedicated team-player focused on developing Fast, Performant and User-Friendly Applications. 
      </h5>
    </div>
  </div>
</div>
