.social-description-container {
  width: 200px !important;
  max-width: 250px !important;
}

.photo-container {
  width: 200px !important;
  height: 200px !important;
}
h5.description {
  max-width: 700px;
  margin: 20px auto 75px;
}
.quote {
  max-width: 700px;
  margin: 20px auto 75px;
}
